<%- include("../../layout/sidebar.ejs") %>


<main class="content">
    <div class="header-content">
        <div class="title-section">
            <a href="/admin/list-aset/<%= aset.kategoriId %>">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;"><%= kategori.nama_kategori %></span>
                </button>
            </a>
        </div>
    </div>

    <body>
        <div class="container-fluid px-4">
            <div class="container2">
                <div class="image-container">
                    <% if (kategori && kategori.gambar) { %>
                        <img src="/uploads/<%= kategori.gambar %>" 
                             alt="<%= kategori.nama_kategori %>"
                             class="w-full h-full object-cover object-cover rounded-lg ">
                    <% } else { %>
                        <img src="https://placehold.co/300x300" 
                             alt="Default Asset Image"
                             class="w-full h-full object-cover rounded-lg shadow-md">
                    <% } %>
                </div>
                <div class="details">
                    <div class="info-item">
                        <div class="info-label">Serial Number</div>
                        <div class="info-value"><%= aset.serial_number %></div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Hostname</div>
                        <div class="info-value"><%= aset.hostname %></div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Nama Aset</div>
                        <div class="info-value"><%= aset.nama_barang %></div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">IP Address</div>
                        <div class="info-value"><%= aset.ip_address %></div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Cara Dapat</div>
                        <div class="info-value"><%= aset.cara_dapat %></div>
                    </div>
                    <div class="info-item">
                        <div class="info-label">Kondisi Aset</div>
                        <div class="info-value"><%= aset.kondisi_aset %></div>
                    </div>
                </div>
             </div>
        </div>
    </body>
</main>

<script>

</script>

</body>
</html>