<%- include('layout/header.ejs', { currentPath: currentPath }) %>

<html>
<head>
    <title>Profile Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<style>
.buttons {
  display: flex;
  justify-content: right;
  margin-right: 12px;
}
.buttons button {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  font-size: 14px;
  min-width: 100px;
  max-width: 130px;
  transition: all 0.3s ease;
}
.batal-profile {
    background-color: #fff;
    color: #000;
}

.batal-profile:hover {
    background-color: #f0f0f0;
    margin-right: 15px;
}

.simpan-profil {
    background-color: #f44336;
    color: #fff;
    margin-left: 15px;
}

.simpan-profil:hover {
    background-color: #d32f2f;
}

.buttons a {
  margin-left: 15px;
}
</style>
<body class="main-body">
    <div class="profile-container">
        <div class="profile-section">
            <div class="profile-pic">
                <img id="profileImage" src="<%= user.gambar ? '/uploads/' + user.gambar : '/image/logo.png' %>" alt="Profile picture"/>
                <form id="uploadForm" action="/karyawan/uploadProfilePicture" method="POST" enctype="multipart/form-data">
                    <input type="file" name="profilePicture" id="profilePicture" style="display: none;" accept="image/*">
                    <a href="#" onclick="document.getElementById('profilePicture').click(); return false;">Ganti Foto</a>
                </form>
            </div>
            <div class="form-section">
                <form action="/karyawan/ubahProfil/update" method="POST">
                    <div class="form-group">
                        <div>
                            <label for="name">Nama</label>
                            <input type="text" name="nama" id="name" value="<%= user.nama %>" placeholder="<%= user.nama %>" required readonly />
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="<%= user.email %>" placeholder="<%= user.email %>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="nip">NIP</label>
                            <input type="text" name="nip" id="nip" value="<%= user.nip %>" placeholder="<%= user.nip %>" required readonly/>
                        </div>
                        <div>
                            <label for="unit">Unit Kerja</label>
                            <input type="text" name="unit_kerja" id="unit" value="<%= user.unit_kerja %>" placeholder="<%= user.unit_kerja %>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="phone">Nomor Telepon</label>
                            <input type="text" name="no_hp" id="phone" value="<%= user.no_hp %>" placeholder="<%= user.no_hp %>" />
                        </div>
                        <div>
                            <label for="position">Jabatan</label>
                            <input type="text" name="jabatan" id="position" value="<%= user.jabatan %>" placeholder="<%= user.jabatan %>" />
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="profil">
                            <button type="button" class="batal-profile">Batal</button>
                        </a>
                        <a href="profil">
                        <button type="submit" class="simpan-profil">Simpan</button>
                    </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('profilePicture').addEventListener('change', function () {
        document.getElementById('uploadForm').submit();
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('success');
    const errorMessage = urlParams.get('error');

    console.log("Success Message:", successMessage);
    console.log("Error Message:", errorMessage);

    if (successMessage) {
        Swal.fire({
            title: 'Berhasil!',
            text: successMessage,
            icon: 'success',
            confirmButtonText: 'OK'
        });
    }

    if (errorMessage) {
        Swal.fire({
            title: 'Gagal!',
            text: errorMessage,
            icon: 'error',
            confirmButtonText: 'OK'
        });
    }
});

    </script>

</html>
