<body>
    <!-- Gunakan currentPath yang sudah dikirim dari route -->
    <%- include('../../layout/header.ejs', { currentPath: currentPath }) %>
    
    <style>
        th:nth-child(1), td:nth-child(1) { width: 5%; }
        th:nth-child(2), td:nth-child(2) { width: 15%; }
        th:nth-child(3), td:nth-child(3) { width: 25%; }
        th:nth-child(4), td:nth-child(4) { width: 25%; }
        th:nth-child(5), td:nth-child(5) { width: 15%; }
        th:nth-child(6), td:nth-child(6) { width: 15%; }
    </style>
    
    <main class="content">
        <div class="container-fluid px-4">
            <div class="table-wrapper">
                <div class="table-responsive">
                    <div class="table-bungkus">
                        <div class="table-scroll">
                            <table class="table-compact">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Tanggal</th>
                                        <th>Nama Barang</th>
                                        <th>Gambar</th>
                                        <th>Status Pengecekan</th>
                                        <th>Status Pengembalian</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (laporanCekList && laporanCekList.length > 0) { %>
                                        <% laporanCekList.forEach((item, index) => { %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td width="15%"> <%= new Date(item.tanggal_pengecekan).toLocaleDateString() %> </td>
                                                <td><%= item.Penyerahan.Permintaan.Aset.nama_barang %></td>
                                                <td>
                                                    <img class="img-fluid" alt="Gambar Aset" src="<%= item.Penyerahan.Permintaan.Aset.Kategori.gambar %>"/>
                                                </td>
                                                <td>
                                                    <% if (item.status === "selesai") { %>
                                                        <div class="status-badge selesai">selesai</div>
                                                    <% } else if (item.status === "Belum diproses") { %>
                                                        <div class="status-badge belumdiproses">Belum diproses</div>
                                                    <% } else if (item.status === "Diproses") { %>
                                                        <div class="status-badge diproses">Diproses</div>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <span class="status-badge <%= item.status_pengembalian %>"><%= item.status_pengembalian %></span>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6" class="text-center">Data tidak ditemukan</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
