<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <div class="title-section">
            <a href="/admin/pemeliharaan-aset">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;">Detail Pemeliharaan Aset</span>
                </button>
            </a>
        </div>  
        <div class="search-and-controls">
            <div class="search-bar" style="margin-right: 30px;">
                <input id="search-input" placeholder="Search..." type="text" onkeyup="filterTable()"/>
                <i class="fas fa-search"></i>
            </div>
            <% if(status_pemeliharaan === 'belum terlaksana') { %>
                <div class="button-selesai">
                    <button>
                        <i class="fa-solid fa-check"></i> Selesai
                    </button>
                </div>
            <% } else { %>
                <div class="button-selesai">
                    <button style="background-color: gray; cursor: not-allowed;" disabled>
                        <i class="fa-solid fa-check"></i> Selesai
                    </button>
                </div>
            <% } %>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="table-wrapper">
            <div class="table-responsive">
                <div class="table-bungkus">
                    <div class="table-scroll">
                        <table class="table-compact">
                            <thead>
                                <tr>
                                    <th width="15%">No</th>
                                    <th width="20%">Gambar Aset</th>
                                    <th width="15%">Serial Number</th>
                                    <th width="15%">Nama Aset</th>
                                    <th width="15%">Kondisi Aset</th>
                                    <th width="15%">Status Aset</th>
                                    <th width="15%">Status Pemeliharaan</th>
                                    <th width="15%">Keterangan</th>
                                    <th width="15%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% detailPemeliharaan.forEach((detail, index) => { %>
                                <tr data-pemeliharaan-id="<%= pemeliharaanId %>">
                                    <td width="15%"><%= index+1 %></td>
                                    <td width="20%">
                                        <img class="img-fluid" alt="Gambar Aset" src="/public/uploads/<%= detail.Aset.Kategori.gambar %>" />
                                    </td>
                                    <td width="15%"><%= detail.Aset.serial_number%></td>
                                    <td width="15%"><%= detail.Aset.nama_barang %></td>
                                    <td width="15%"><%= detail.status_aset.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></td>
                                    <td width="15%"><%= detail.lokasi_aset %></td>
                                    <td width="15%"><%= detail.status_pemeliharaan %></td>
                                    <td width="15%"><%= detail.keterangan %></td>
                                    <td width="15%">
                                        <% if (status_pemeliharaan == 'belum terlaksana') { %>
                                            <button class="button-edit" onclick="openEditModal('<%= index + 1 %>')">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        <% } else { %>
                                            <button style="background-color: gray; cursor: not-allowed; border: gray ;" class="button-edit" disabled>
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        <% } %>
                                    </td>
                                </tr> 
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% detailPemeliharaan.forEach((detail, index) => { %>
<div id="editModal<%= index+1 %>" class="popup-modal">
    <div class="modal-content">
        <span class="close-btn" id="closeEditBtn<%= index+1 %>">&times;</span>
        <h3>Update Kondisi Aset</h3>
        <form id="editForm<%= index+1 %>" action="/admin/pemeliharaan-aset/detail/<%= pemeliharaanId %>/<%= detail.Aset.serial_number %>" method="post">
            <label for="serialNumber" class="left-label">Serial Number</label>
            <input type="text" id="serialNumber<%= index+1 %>" name="serialNumber" value="<%= detail.Aset.serial_number %>" required readonly>

            <label for="namaAset" class="left-label">Nama Aset</label>
            <input type="text" id="namaAset<%= index+1 %>" name="namaAset" value="<%= detail.Aset.nama_barang %>" required readonly>
            
            <label for="kondisiAset" class="left-label">Pilih Kondisi Aset</label>
            <select id="kondisiAset<%= index+1 %>" name="kondisi_aset"class="shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm text-gray-700 py-2 h-10" required style="width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 5px;" required>
                <option value="<%= detail.status_aset %>"  selected>
                    <%= detail.status_aset.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>
                </option>
                <% ['baik', 'rusak ringan', 'rusak berat'].forEach(option => { %>
                    <% if (option !== detail.status_aset) { %>
                        <option value="<%= option %>">
                            <%= option.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>
                        </option>
                    <% } %>
                <% }); %>
            </select>

            <label for="keterangan" class="left-label">Keterangan</label>
            <input type="text" id="keterangan<%= index+1 %>" name="keterangan" value="<%= detail.keterangan %>" placeholder="Masukkan Keterangan" required>
            
            <button type="submit" class="btn finish-btn">Simpan</button>
        </form>
    </div>
</div>
<% }); %>

<!-- Pop-Up Modal Konfirmasi -->
<div id="addModal" class="popup-modal" >
    <div class="modal-content">
        <span class="close-btn" id="close">&times;</span>
        <h3>Konfirmasi Pemeliharaan Selesai</h3>
        <p>Apakah kamu yakin ingin menyelesaikan pemeliharaan aset?</p>
        <div class="flex justify-center space-x-4">
            <button type="button" class="btn cancel-btn">Tidak</button>
            <form action="/admin/pemeliharaan-aset/detail/<%= pemeliharaanId %>" method="post">
                <button type="submit" class="btn finish-btn">Ya</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Menangani klik pada tombol "Selesai"
    const selesaiButton = document.querySelector('.button-selesai');
    const modal = document.getElementById("addModal");
    const cancelBtn = modal.querySelector('.cancel-btn');
    const finishBtn = modal.querySelector('.finish-btn');
    const closeBtn = document.getElementById("close");

    selesaiButton.addEventListener('click', function(event) {
        event.preventDefault();
        modal.style.display = 'flex';
    });

    closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    cancelBtn.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    // finishBtn.addEventListener('click', function() {
    //     modal.style.display = 'none';
    //     alert("Pemeliharaan aset selesai!");
        
    // });

    finishBtn.addEventListener('click', async function (event) {
    event.preventDefault(); // Tambahkan ini untuk mencegah redirect ke halaman JSON
    try {
        const pemeliharaanId = '<%= pemeliharaanId %>';
        const response = await fetch(`/admin/pemeliharaan-aset/detail/${pemeliharaanId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });
        modal.style.display = 'none';

        if (response.ok) {
            const data = await response.json();
            Swal.fire({
                icon: 'success',
                title: 'Berhasil!',
                text: data.message,
                confirmButtonColor: "#44c400"
            }).then(() => {
                window.location.href = '/admin/pemeliharaan-aset';
            });
        } else {
            const errorData = await response.json();
            Swal.fire({
                icon: 'error',
                title: 'Gagal!',
                text: errorData.message,
                confirmButtonColor: "#44c400"
            });
        }
    } catch (error) {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Terjadi Kesalahan!',
            text: 'Terjadi kesalahan saat menyelesaikan pemeliharaan.'
        });
    }
});


//     finishBtn.addEventListener('click', async function() {
//     try {
//         console.log('Button clicked');
//         const pemeliharaanId = '<%= pemeliharaanId %>';
//         console.log(`Pemeliharaan ID: ${pemeliharaanId}`);
//         const response = await fetch(`/admin/pemeliharaan-aset/detail/${pemeliharaanId}`, {
//             method: 'POST',
//             headers: {
//                 'Content-Type': 'application/json'
//             }
//         });
//         console.log(response)

//         if (response.ok) {
//             const data = await response.json();
//             alert(data.message); // Menampilkan pesan sukses
//             modal.style.display = 'none';
//             window.location.href = '/admin/pemeliharaan-aset';
//         } else {
//             const errorData = await response.json();
//             alert(errorData.message); // Menampilkan pesan error jika detail belum selesai
//             window.location.href = `/admin/pemeliharaan-aset/detail/${pemeliharaanId}`;
//         }
//     } catch (error) {
//         console.error('Error:', error);
//         alert('Terjadi kesalahan saat menyelesaikan pemeliharaan.');
//     }
// });

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    };

    // Fungsi untuk membuka modal edit
    function openEditModal(index) {
        const editModal = document.getElementById(`editModal${index}`);
        editModal.style.display = 'flex';

        if (editModal) {
            editModal.style.display = 'flex';
    } else {
        console.error(`Modal with ID editModal${index} not found`);
    }

        const closeEditBtn = document.getElementById(`closeEditBtn${index}`);
        closeEditBtn.addEventListener('click', function() {
            editModal.style.display = 'none';
        });

        window.addEventListener('click', function(event) {
            if (event.target === editModal) {
                editModal.style.display = 'none';
            }
        });
    }

    function filterTable() {
        const input = document.getElementById("search-input").value.toLowerCase();
        const rows = document.querySelectorAll(".table-compact tbody tr");

        rows.forEach(row => {
            const rowText = row.textContent.toLowerCase();
            if (rowText.includes(input)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }

</script>

</body>
</html>
