<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <div class="title-section">
            <a href="/admin/pemeliharaan-aset">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;">Detail Pemeliharaan Aset</span>
                </button>
            </a>
        </div>  
        <div class="header-content">
            <div class="search-bar" style="margin-right: 30px;">
                <input placeholder="Search..." type="text"/>
                <i class="fas fa-search"></i>
            </div>
            <div class="button-selesai">
                <button>
                    <i class="fa-solid fa-check"></i> Selesai
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="table-wrapper">
            <div class="table-responsive">
                <div class="table-bungkus">
                <div class="table-scroll">
                    <table class="table-compact">
                        <thead>
                            <tr>
                                <th width="15%">No</th>
                                <th width="20%">Gambar Aset</th>
                                <th width="15%">Serial Number</th>
                                <th width="15%">Nama Aset</th>
                                <th width="15%">Kondisi Aset</th>
                                <th width="15%">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% detailPemeliharaan.forEach((detail, index) => { %>
                            <tr>
                                <td width="15%"><%= index+1 %></td>
                                <td width="20%">
                                    <img class="img-fluid" alt="Bukti Gambar" src="https://placehold.co/100x100" />
                                </td>
                                <td width="15%"><%= detail.Aset.serial_number%></td>
                                <td width="15%"><%= detail.Aset.nama_barang %></td>
                                <td width="15%"><%= detail.Aset.kondisi_aset %></td>
                                <td width="15%">
                                    <button class="button-edit">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Pop-Up Modal Konfirmasi -->
<div id="addModal" class="popup-modal" >
    <div class="modal-content">
        <span class="close-btn" id="close">&times;</span>
        <h3>Konfirmasi Pemeliharaan Selesai</h3>
        <p>Apakah kamu yakin ingin menyelesaikan pemeliharaan aset?</p>
        <div class="flex justify-center space-x-4">
            <button type="button" class="btn cancel-btn">Tidak</button>
            <button type="button" class="btn finish-btn">Ya</button>
        </div>
    </div>
</div>

<div id="editModal" class="popup-modal">
    <div class="modal-content">
        <span class="close-btn" id="closeEditBtn">&times;</span>
        <h3>Update Kondisi Aset</h3>
        <form id="editForm">
            <label for="serialNumber" class="left-label">Serial Number</label>
            <input type="text" id="serialNumber" name="serialNumber" placeholder="Masukkan serial number" readonly required>

            <label for="namaAset" class="left-label">Nama Aset</label>
            <input type="text" id="namaAset" name="namaAset" placeholder="Masukkan Nama Aset" readonly required>
            
            <label for="kondisiAset" class="left-label">Pilih Kondisi Aset</label>
            <select id="kondisiAset" name="kondisiAset" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:text-sm text-gray-700 py-2 h-10">
                <option value="" disabled selected>Pilih Kondisi Aset</option>
                <option value="Baik">Baik</option>
                <option value="Rusak Ringan">Rusak Ringan</option>
                <option value="Rusak Berat">Rusak Berat</option>
            </select>

            <label for="keterangan" class="left-label">Keterangan</label>
            <input type="text" id="keterangan" name="keterangan" placeholder="Masukkan Keterangan"  required>
            <button type="submit" class="btn finish-btn">Simpan</button>
        </form>
    </div>
</div>  


<script>
    // Mendapatkan elemen modal dan tombol
    const modal = document.getElementById("addModal");
    const cancelBtn = modal.querySelector('.cancel-btn');
    const finishBtn = modal.querySelector('.finish-btn');
    const closeBtn = document.getElementById("close");
    const editModal = document.getElementById("editModal");
    const closeEditBtn = document.getElementById("closeEditBtn");
    const editForm = document.getElementById('editForm');

    // Menangani klik pada tombol "Selesai"
    const selesaiButton = document.querySelector('.button-selesai');
    
    selesaiButton.addEventListener('click', function(event) {
        event.preventDefault();  // Mencegah aksi default
        modal.style.display = 'flex';  // Menampilkan modal
    });

    closeBtn.addEventListener('click', function() {
      modal.style.display = 'none';
    });

    // Menangani klik pada tombol "Tidak" untuk menutup modal
    cancelBtn.addEventListener('click', function() {
        modal.style.display = 'none';  // Menyembunyikan modal
    });

    // Menangani klik pada tombol "Ya" untuk melanjutkan aksi
    finishBtn.addEventListener('click', function() {
        modal.style.display = 'none';  // Menyembunyikan modal
        alert("Pemeliharaan aset selesai!"); // Gantilah dengan logika lain sesuai kebutuhan
    });

    // Menangani klik di luar modal untuk menutupnya
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';  // Menyembunyikan modal saat klik di luar modal
        }
    };

    // Menangkap semua tombol dengan kelas 'openEditModalBtn'
const openEditModalBtns = document.querySelectorAll('.button-edit');

// Tambahkan event listener ke setiap tombol
openEditModalBtns.forEach((btn) => {
    btn.addEventListener('click', function () {
        editModal.style.display = 'flex'; // Tampilkan modal
    });
});

// Menangani tombol close modal
closeEditBtn.addEventListener('click', function () {
    editModal.style.display = 'none'; // Sembunyikan modal
});

// Menutup modal jika klik di luar area modal
window.addEventListener('click', function (event) {
    if (event.target === editModal) {
        editModal.style.display = 'none'; // Sembunyikan modal
    }
});

</script>


</body>
</html>