<body>
    <!-- Use currentPath passed from the controller -->
    <%- include('../../layout/header.ejs', { currentPath: currentPath }) %>
    
    <style>
        th:nth-child(2), td:nth-child(2) { width: 15%; }
        th:nth-child(3), td:nth-child(3) { width: 10%; }
        th:nth-child(4), td:nth-child(4) { width: 17%; }
        th:nth-child(5), td:nth-child(5) { width: 10%; }
        th:nth-child(6), td:nth-child(6) { width: 15%; }
    </style>
    
    <main class="content">
        <div class="container-fluid px-4">
            <div class="table-wrapper">
                <div class="table-responsive">
                    <div class="table-bungkus">
                        <div class="table-scroll">
                            <table class="table-compact">
                                <thead>
                                    <tr>
                                        <th width="5%">No</th>
                                        <th width="15%">Nama Barang</th>
                                        <th width="10%">Kategori</th>
                                        <th width="17%">Deskripsi</th>
                                        <th width="10%">Gambar</th>
                                        <th width="15%">Tanggal Peminjaman</th>
                                        <th width="15%">Tanggal Pengembalian</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% result.forEach((item, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td> <!-- No -->
                                        <td><%= item.nama_barang %></td> <!-- Nama Barang -->
                                        <td><%= item.kategori %></td> <!-- Kategori -->
                                        <td><%= item.deskripsi %></td> <!-- Deskripsi -->
                                        <td>
                                            <img class="img-fluid" alt="Gambar Aset" src="/public/uploads/<%= item.gambar_bukti %>" />
                                        </td> <!-- Gambar -->
                                        <td><%= item.tanggal_peminjaman %></td> <!-- Tanggal Peminjaman -->
                                        <td><%= item.tanggal_pengembalian %></td> <!-- Tanggal Pengembalian -->
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
