<body>
    <!-- Use currentPath passed from the controller -->
    <%- include('../../layout/header.ejs', { currentPath: currentPath }) %>
    
    <style>
        th:nth-child(2), td:nth-child(2) { width: 15%; }
        th:nth-child(3), td:nth-child(3) { width: 10%; }
        th:nth-child(4), td:nth-child(4) { width: 17%; }
        th:nth-child(5), td:nth-child(5) { width: 20%; }
        th:nth-child(6), td:nth-child(6) { width: 15%; }
    </style>
    
    <main class="content">
        <div class="container-fluid px-4">
            <div class="table-wrapper">
                <div class="table-responsive">
                    <div class="table-bungkus">
                        <div class="table-scroll">
                            <table class="table-compact">
                                <thead>
                                    <tr>
                                        <th width="5%">No</th>
                                        <th width="15%">Nama Barang</th>
                                        <th width="10%">Kategori</th>
                                        <th width="17%">Deskripsi</th>
                                        <th width="10%">Gambar</th>
                                        <th width="15%">Tanggal Peminjaman</th>
                                        <th width="15%">Tanggal Pengembalian</th>
                                        <th width="15%">Bukti Penyerahan</th>
                                        <th width="15%">Bukti Pengembalian</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% result.forEach((item, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td> 
                                        <td><%= item.nama_barang %></td> 
                                        <td><%= item.kategori %></td> 
                                        <td><%= item.deskripsi %></td>
                                        <td>
                                            <img class="img-fluid" onclick="openOverlay(this.src)" alt="Gambar Aset" src="/public/uploads/<%= item.gambar_bukti %>" />
                                        </td> 
                                        <td><%= item.tanggal_peminjaman %></td> 
                                        <td><%= item.tanggal_pengembalian %></td> 
                                        <td>
                                            <a href="/data/surat/<%= item.suratPenyerahan %>" target="_blank" 
                                                class="btn btn-action" 
                                                style="background-color: #ffffff; padding: 6px 10px; font-size: 25px; border: 2px solid #000; padding-right: 10px; border-radius: 8px; color: #000; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; height: auto;">
                                                 <i class="fa-solid fa-download" style="font-size: 15px;"></i>
                                             </a>
                                        </td>
                                        <td>
                                            <a href="/data/surat/<%= item.suratPengembalian %>" target="_blank" 
                                                class="btn btn-action" 
                                                style="background-color: #ffffff; padding: 6px 10px; font-size: 25px; border: 2px solid #000; padding-right: 10px; border-radius: 8px; color: #000; cursor: pointer; display: inline-flex; align-items: center; justify-content: center; height: auto;">
                                                 <i class="fa-solid fa-download" style="font-size: 15px;"></i>
                                             </a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

          <!-- Overlay untuk menampilkan gambar -->
          <div id="overlay" class="overlay" onclick="closeOverlay()">
            <img id="overlayImage" class="overlay-img">
       </div>
</body>

<script>
    function openOverlay(imageSrc) {
    document.getElementById('overlayImage').src = imageSrc;
    document.getElementById('overlay').classList.add('show');
  }

  function closeOverlay() {
    document.getElementById('overlay').classList.remove('show');
  }
</script>