<%- include("../../layout/sidebar.ejs") %>

<main class="content">
    <div class="header-content">
        <td>
            <a href="/admin/riwayatVendor">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;">Detail Barang Pengembalian Vendor</span>
                </button>
            </a>
        </td>
    </div>

    <body>
        <div class="container2">
            <div class="custom-td" style="position: absolute; top: 10px; right: 20px; font-size: 14px; color: #333;">
                <span class="custom-span"><%= kondisi_aset %></span>
            </div>

            <img alt="Gambar Kategori" height="150" src="<%= gambar %>" width="200" style="margin-right: 20px;"/>

            <div class="details">
                <p><strong>Kategori</strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>: <%= nama_kategori %></p>
                <p><strong>Nama Barang</strong><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>: <%= nama_barang %></p>
                <p><strong>Serial Number</strong><span>&nbsp;&nbsp;&nbsp;</span>: <%= serial_number %></p>
                <p><strong>Hostname</strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>: <%= hostname %></p>
                <p><strong>Jenis Barang</strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>: <%= cara_dapat %></p>
                <p><strong>Deskripsi</strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>: <%= deskripsi %></p>
            </div>
            
            
        </div>
    </body>
</main>
