<%- include("../../layout/sidebar.ejs") %>


<main class="content">
    <div class="header-content">
        <h3 style="font-weight: bold;">Pengembalian Aset Vendor</h3>
        <div class="search-bar">
            <input placeholder="Search..." type="text"/>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="container-fluid px-4">
        <!-- <div class="tabButton">
            <a href="asetKaryawan" class="button" onclick="setActive(event, this)">Aset Karyawan</a>
            <a href="asetGudang" class="button" onclick="setActive(event, this)">Aset Gudang</a>
            <a href="riwayatVendor" class="button" onclick="setActive(event, this)">Riwayat Pengembalian</a>
        </div> -->

        <div class="tabButton">
            <a href="asetKaryawan" class="button inactive">Aset Karyawan</a>
            <a href="asetGudang" class="button inactive">Aset Gudang</a>
            <a href="riwayatVendor" class="button active">Riwayat Pengembalian</a>
        </div>
    
        <div class="table-wrapper">
            <div class="table-responsive">
                <div class="table-bungkus">
                    <div class="table-scroll">
                        <table class="table-compact">
                            <thead>
                                <tr>
                                    <th width="5%">No</th>
                                    <th width="15%">Serial Number</th>
                                    <th width="15%">Nama Aset</th>
                                    <th width="15%">Deskripsi</th>
                                    <th width="15%">Gambar</th>
                                    <th width="12%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (pengembalian.length > 0) { %>
                                    <% pengembalian.forEach((item, index) => { %>
                                        <tr>
                                            <td width="5%"><%= index + 1 %></td>
                                            <td width="15%"><%= item.Aset ? item.Aset.serial_number : '-' %></td>
                                            <td width="15%"><%= item.Aset ? item.Aset.nama_barang : '-' %></td>
                                            <td width="15%"><%= item.Aset && item.Aset.Kategori ? item.Aset.Kategori.deskripsi : '-' %></td>
                                            <td width="15%">
                                                <% if (item.Aset && item.Aset.Kategori && item.Aset.Kategori.gambar) { %>
                                                    <img class="img-fluid" alt="Bukti Gambar" src="<%= item.Aset.Kategori.gambar %>" width="100" height="100" />
                                                <% } else { %>
                                                    <img class="img-fluid" alt="No Image" src="https://placehold.co/100x100" />
                                                <% } %>
                                            </td>
                                    <td width="12%">
                                        <a href="detailAsetRiwayat/<%= item.id %>">
                                        <button id="infoButton" class="button-info" style="margin-right: 10px;">
                                            <i class="fa-solid fa-circle-info"></i>  
                                        </button> 
                                        </a>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6" class="text-center">Tidak ada data pengembalian</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>