<%- include("../../layout/sidebar.ejs") %>


<main class="content">
    <div class="header-content">
        <h3 style="font-weight: bold;">Pengembalian Aset</h3>
        <div class="search-bar">
            <input placeholder="Search..." type="text"/>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="tabButton">
            <a href="pengembalianAset" class="button inactive">Daftar Pengembalian</a>
            <a href="riwayatPengembalian" class="button active">Riwayat Pengembalian</a>
        </div>
        <div class="table-wrapper">
            <div class="table-responsive">
                <div class="table-bungkus">
                    <div class="table-scroll">
                        <table class="table-compact">
                            <thead>
                                <tr>
                                    <th width="5%">No</th>
                                    <th width="15%">Nama</th>
                                    <th width="15%">Unit Kerja</th>
                                    <th width="15%">Nama Barang</th>
                                    <th width="15%">Serial Number</th>
                                    <th width="15%">Kondisi</th>
                                    <th width="15%">Keterangan</th>
                                    <th width="15%">Bukti Gambar</th>
                                    <th width="15%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% riwayatList.forEach((pengembalian, index) => { %>
                                    <tr>
                                        <td width="5"><%= index + 1 %></td>
                                        <td width="15"><%= pengembalian.Penyerahan.Permintaan.User.nama %></td>
                                        <td width="15"><%= pengembalian.Penyerahan.Permintaan.User.unit_kerja %></td>
                                        <td width="15"><%= pengembalian.Penyerahan.Permintaan.Aset.nama_barang %></td>
                                        <td width="15"><%= pengembalian.Penyerahan.Permintaan.Aset.serial_number %></td>
                                        <td width="15"><%= pengembalian.kondisi_terakhir %></td>
                                        <td width="15"><%= pengembalian.keterangan_kondisi || '-' %></td>
                                        <td width="15">
                                            <img class="img-fluid" alt="Bukti Gambar" src="/public/uploads/<%= pengembalian.gambar_bukti %>" />
                                        </td>
                                        <td width="15">
                                            <button class="btn btn-action" style="background-color: #ffffff; padding: 10px; padding-right: 7px; font-size: 25px; border: 2px solid #ccc; border-radius: 8px; color: #000; cursor: pointer;">
                                                <i class="fa-solid fa-download" style="font-size: 15px;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>


</body>
</html>
