<%- include("../../layout/sidebar.ejs") %>

<style>
    .container2 .details p,
.container2 .details2 p {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

.container2 .details p strong,
.container2 .details2 p strong {
    min-width: 150px; /* Pastikan label sejajar */
}


</style>

<main class="content">
    <div class="header-content">
        <td>
            <a href="/admin/daftarPengajuanCek">
                <button id="" style="display: flex; align-items: center;">
                    <i class="fa-solid fa-arrow-left" style="font-weight: bold; font-size: 20px; margin-right: 10px;"></i>
                    <span style="font-size: 24px; font-weight: bold; font-family: Raleway;">Detail Pengajuan Cek</span>
                </button>
            </a>
        </td>
    </div>

    <div class="container2">
        <img 
            alt="<%= detailPengajuanCek.Penyerahan.Permintaan.Aset.Kategori.nama_kategori || 'Gambar tidak tersedia' %>" 
            height="150" 
            src="/public/uploads/<%= detailPengajuanCek.Penyerahan.Permintaan.Aset.Kategori.gambar || 'https://placehold.co/200x150' %>" 
            width="300"
        />
        <div class="details">
            <p><strong>Kategori</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.Kategori.nama_kategori || 'Tidak tersedia' %></p>
            <p><strong>Serial Number</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.serial_number || 'Tidak tersedia' %></p>
            <p><strong>Nama Barang</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.nama_barang || 'Tidak tersedia' %></p>
            <p><strong>Hostname</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.hostname || 'Tidak tersedia' %></p>
            <p><strong>Kondisi Aset</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.kondisi_aset || 'Tidak tersedia' %></p>
            <p><strong>Deskripsi</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.Aset.Kategori.deskripsi || 'Tidak tersedia' %></p>
        </div>
    </div>

    <div class="container2">
        <div class="details2">
            <p><strong>Nama User</strong> : <%= detailPengajuanCek.Penyerahan.Permintaan.User.nama|| 'Tidak tersedia' %></p>
            <p><strong>Keluhan</strong> : <%= detailPengajuanCek.keluhan || 'Tidak tersedia' %></p>
        </div>
    </div>
</main>
